<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style type="text/css">
            .error {
                color: red;
            }
        </style>
    </head>
    <body>
        <a href="/blog">Main Blog Page</a> | <a href="/newpost">Add a Blog Entry</a>
        <div style='float: right'>
            {% if 'username' in session %}
              {{ session['username'] }}
              <form action="/logout" method="post" id='logout'>
                <input type="submit" value="Log Out" />
              </form>
            {% else %}
            <a href="/">Home</a> | <a href="/login">Login</a> | <a href="/signup">Create Account</a>
            {% endif %}
        </div>
        {% block content %}
        {% endblock %}
        
    </body>
</html>